<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

     
		
 <script>
         
         function listAllUser() {

            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", `/user/`);
            xhttp.send();
            xhttp.onload = function () {
                lsUser = JSON.parse(this.responseText);
                out = "";
                for (const i in lsUser) {
                    // console.log(lsUser[i])
                    u = lsUser[i]
                    cor = ""
                    try{
                        s = fStatus(u.status)
                        cor = s.cor
                    }catch{

                    }
        
        out += `<tr onclick='activate(${i})'><td>${u.name}</td>
                                             <td style="background-color: ${cor};">${u.status}</td>
                                             <td>${u.location}</td>
                                             <td>${u.proposedTime}</td>
                                             <td>${u.actualStartTime}</td>
                                             <td>${u.endTime}</td>
                                             <td>${u.exitTime}</td>
                </tr>`;
    }
    document.getElementById("tbody").innerHTML = out;
}
}


        var myVar = setInterval(listAllUser, 6000);

        var myTimers = setInterval(myTimer, 100);
                function myTimer() {
				var d = new Date();
				document.getElementById("refresh-timer").innerHTML = d.getDate()+'/'+(d.getMonth()+1)+'/'+d.getFullYear()+' '+ d.toLocaleTimeString();

				//var tabela = localStorage.getItem('tbody');

				document.getElementById("tbody").innerHTML = tabela;
			}
			documento.myTimer();


            function fStatus(status) {
			switch (status) {
			case 'Pre-Opp':
				return {
					label : 'Pre-opp',
					cor : '#fbd972'
				};
			case 'Intra-Opp':
				return {
					label : 'intra-opp',
					cor : '#fd5766'
				};
			case 'Recovery':
				return {
					label : 'Recovery',
					cor : '#89e89f'
				};
			case 'Transfered':
				return {
					label : 'tranfered',
					cor : '#b8daff'
				};
			}
		}


</script>



<div class="container mt-3">
    <div class="=row">
        <div class="d-flex justify-content-start col" >
            <img src = "https://raw.githubusercontent.com/luiz87/centro-cirurgico/main/Bandeira_do_Distrito_Federal_Brasil.png" height="100px">
        </div>
        <div class="col">
            <a href="/manager" class="btn btn-primary" role="button">Manage Patient</a>
        </div>
    </div>
   
    
    <form th:action="@{/logout}" method="post" class="d-flex justify-content-end">
   <input type="submit" value="Sign Out" /></form> <br>
   

   
    <div>
    <h3> Regional Hospital Taguatinga | Secretaria de Estado de Saúde do
        Distrito Federal | Pacients At The Surgical Center - <span id="refresh-timer"></span></h3>
    </div>

    <table class="table table-hover" style="cursor: pointer;">
        <thead class="table-success">
            <tr>
                <th width= "40%"   >Name</th>
                <th width= "30%" >Status</th>
                <th width= "30%" >Location</th>
                <th width= "30%" >Proposed Start Time</th>
                <th width= "30%">Actual Start Time</th>
                <th width= "30%">Surgery End Time</th>
                <th width= "30%">Exit Time</th>
            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>

<script>listAllUser();</script>
</body>
</html>